<a class="btn btn-default" href="/#/">Home Page</a><p><h1>Blog Details</h1>

<p><p>


		'{{blog.title}}' by
		{{blog.author}}
		<p>
		Rating: {{blog.rating}}
<ul>
	<li ng-repeat='blog in blog.post'>
			PostID: {{blog.postid}} <p>
            Heading: {{blog.heading}} <p>
            Body: {{blog.body}} <p>
            Date: {{blog.date}} <p>

            <input type="button" value="Delete" class="btn btn-danger" ng-click="delete(blog.postid)"></input>
    </li>
</ul>

<form>
	<div class="form-group">
        <label>Post ID</label>
        <input class="form-control" ng-model="blog.post.postid"></input>
    </div>
    <div class="form-group">
        <label>Heading</label>
        <input class="form-control" ng-model="blog.post.heading"></input>
    </div>
    <div class="form-group">
        <label>Body</label>		
        <textarea class="form-control" ng-model="blog.post.body"></textarea>
    </div>
    <div class="form-group">
        <label>Date</label>		
        <input type="date" class="form-control" ng-model="blog.post.date">
    </div>
    <input type="button" class="btn btn-primary" value="Add" ng-click="save(blog.post)"></input>	
</form>
