<h1>Blog with a Dog Home Page</h1>

<ul>
    <li ng-repeat='blog in blogs'>
        <a href="/#/blog/viewblog/{{blog._id}}">
            Title: {{blog.title}} <p>
            Author: {{blog.author}} <p>
            Rating: {{blog.rating}} <p>
            ID: {{blog._id}} <p>
        </a>
        <input type="button" value="Delete" class="btn btn-danger" ng-click="delete(blog._id)">
    </li>
</ul>

<form>
    <div class="form-group">
        <label>Title</label>		
        <input class="form-control" ng-model="blog.title"></input>
    </div>
    <div class="form-group">
        <label>Author</label>
        <textarea class="form-control" ng-model="blog.author"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Add" ng-click="save()" href="/#/"></input>	
</form>

